.header-content {
    min-height: 70vh;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url('../../resources/book-shelf-2.jpg') center/cover no-repeat;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: -69px;
    font-family: cursive;
}

.header-title {
    font-size: 5.2rem;
    font-family: cursive;
}

.header-text {
    margin-top: -1.8rem;
    margin-bottom: 6.8rem;
    opacity: 0.8;
    max-width: 770px;
    color: white;
    font-family: cursive;
}
